
body {
    font-family: "Inter", sans-serif;
    background-color: #F5F5F5;
    background-image: linear-gradient(to right, #E6E6E6 1px, transparent 1px), linear-gradient(to bottom, #E6E6E6 1px, transparent 1px);
    background-size: 122px 122px;
    background-position: 0 -215px;
}

.header {
    padding: 3em 2em;
}

.header__path {
    display: block;
    padding: 1rem 0 5rem 0;
}

.header__path__ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #A3A3A3;
}

.header__path__ul li + li::before {
    content: "/";
    margin: 0 10px;
    text-decoration: none;
    color: #A3A3A3;
}

.header__path__ul li:last-child a {
    text-decoration: none;
    color: #A3A3A3;
}

.header__path__ul li:not(:last-child) a {
    text-decoration: underline;
    color: #A3A3A3;
}

.header__material {
    margin: 1em 0 0 0;
    font-size: 1.5rem;
    font-weight: 550;
}

.header__filters {
    display: flex;
    justify-self: center;
    text-align: center;
    background-color: #7EE24D;
    padding: 0.1rem 4rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 750;
    align-items: center;
}

.header__filters:hover{
    background-color: #6ebe46;
}

.header__filters__arrow {
    padding-left: 0.5em;
    width: 0.75rem;
    height: 0.75rem;
    vertical-align: middle;
}
