@layer reset, base, components;

@layer reset {
    :root {
        --grey: #A3A3A3;
        --green: #7EE24D;
        --lightGrey: #e5e5e5;
        --darkGreen: #6ebe46;
        --badgeGreen: #1a7037;
        --white: #ffff;
        --red: #dc3545;
        --black: #000000;
        --stock: #008201;
    }
}

@layer base {
    body {
        font-family: "Inter", sans-serif;
        background-color: #F5F5F5;
        background-image: linear-gradient(to right, #E6E6E6 1px, transparent 1px), linear-gradient(to bottom, #E6E6E6 1px, transparent 1px);
        background-size: 122px 122px;
        background-position: 0 -215px;
    }
}

@layer components {
    .header {
        padding: 2em 1em 2.5em 1em;
    }

    .header__path {
        display: block;
        padding: 1rem 0 4rem 0;
    }

    .header__path__ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        color: var(--grey);
    }

    .header__path__ul li + li::before {
        content: "/";
        margin: 0 10px;
        text-decoration: none;
        color: var(--grey);
    }

    .header__path__ul li:last-child a {
        text-decoration: none;
        color: var(--grey);
    }

    .header__path__ul li:not(:last-child) a {
        text-decoration: underline;
        color: var(--grey);
    }

    .header__material {
        margin: 1em 0 0 0;
        font-size: 2rem;
        font-weight: 550;
    }

    .header__filters {
        display: flex;
        justify-self: center;
        justify-content: center;
        text-align: center;
        flex-grow: 2;
        background-color: var(--green);
        padding: 1rem 5rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-weight: 750;
        align-items: center;
        text-decoration: none;
        color: var(--black);
    }

    .header__filters:hover{
        background-color: var(--darkGreen);
    }

    .header__filters__arrow {
        padding-left: 0.75em;
        width: 0.75rem;
        height: 0.75rem;
        vertical-align: middle;
    }

    .main__products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 0.6rem;
        padding: 1rem;
    }

    .main__products__card {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 4;
        background-color: var(--white);
        padding: 0.6rem;
        border-radius: 0.75rem;
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
    }

    .card__header__badge--red {
        display: inline-flex;
        background-color: var(--red);
        border-radius: 0.5rem;
        padding: 0.4rem 0.7rem;
        color: var(--white);
        font-size: 0.7rem;
    }
    .card__header__badge--green {
        display: inline-flex;
        background-color: var(--badgeGreen);
        border-radius: 0.5rem;
        padding: 0.4rem 0.7rem;
        color: var(--white);
        font-size: 0.7rem;
    }

    .card__header__placeholder {
        display: block;
        margin-top: 0.5rem;
    }

    .card__header__image {
        width: 100%;
    }

    .card__rating {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .card__rating__stars {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .card__rating__stars .star img {
        width: 1.1rem;
        height: auto;
        display: block;
    }

    .rating__stats__tear {
        font-weight: 700;
        font-size: 0.8rem;
        padding-left: 0.4rem;
    }

    .rating__stats__count {
        padding-left: 0.5rem;
        font-size: 0.8rem;
        color: var(--grey);
    }

    .info__title {
        font-size: 1rem;
        font-weight: 550;
        text-decoration: none;
        color: var(--black);
        margin: 0;
    }

    .info__title__content {
        font-size: 1rem;
        font-weight: 550;
        line-height: 1.6rem;
        text-decoration: none;
        color: var(--black);
    }

    .info__stock--stock {
        color: var(--stock);
        font-size: 0.9rem;
        margin: 0;
        padding-top: 0.5rem;
    }

    .info__stock--outof {
        color: var(--red);
        font-size: 0.9rem;
        margin: 0;
        padding-top: 0.5rem;
    }

    .info__stock--onway {
        color: var(--black);
        font-size: 0.9rem;
        margin: 0;
        padding-top: 0.5rem;
    }

    .info__price {
        display: flex;
        justify-content: flex-start;
        gap: 0.5rem;
        margin: 0.8rem 0 0 0;
    }

    .info__price__active {
        font-size: 1rem;
    }

    .info__price__legacy {
        color: var(--red);
        font-weight: 600;
        font-size: 1rem;
        text-decoration: line-through;
    }

    .card__buttons {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .butons__add {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--lightGrey);
        border-radius: 0.4em;
        padding: 0.5rem 0.7rem;
    }

    .buttons__add__amount {
        background: none;
        border: none;
        color: var(--black);
        padding: 0;
        cursor: pointer;
        font-size: 1.5rem;
        overflow: hidden;
    }

    .buttons__add_size {
        font-weight: 650;
        font-size: 1rem;
    }

    .buttons__cart {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        justify-content: center;
        background-color: var(--green);
        padding: 0.8rem 0.9rem;
        text-decoration: none;
        color: var(--black);
        font-weight: 770;
        font-size: 0.95rem;
        border-radius: 0.4em;
    }

    .buttons__cart:hover {
        background-color: var(--darkGreen);
        text-decoration: underline;
    }
}

@media (min-width: 576px) {
    .card__buttons {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: center;
    }

    .butons__add {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--lightGrey);
        border-radius: 0.4em;
        padding: 0.5rem 0.7rem;
        flex-grow: 2;
    }

    .buttons__cart {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        justify-content: center;
        background-color: var(--green);
        padding: 0.8rem 0.9rem;
        text-decoration: none;
        color: var(--black);
        font-weight: 770;
        font-size: 0.95rem;
        border-radius: 0.4em;
        flex-grow: 1;
    }

    .buttons__cart:hover {
        background-color: var(--darkGreen);
        text-decoration: underline;
    }

    .card__buttons {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        padding-bottom: 3rem;
    }
}

@media (min-width: 768px) {
    .main__products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.6rem;
        padding: 1rem;
        grid-template-rows: auto;
    }

    .buttons__cart:hover {
        background-color: var(--darkGreen);
        text-decoration: underline;
    }
}

@media (min-width: 992px) {
    .card__buttons {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        padding-bottom: 0;
    }

    .buttons__cart:hover {
        background-color: var(--darkGreen);
        text-decoration: underline;
    }
}

@media (min-width: 1024px) {
    .main__products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.6rem;
        padding: 1rem;
        grid-template-rows: auto;
    }

    .buttons__cart:hover {
        background-color: var(--darkGreen);
        text-decoration: underline;
    }
}

@media (min-width: 1360px) {
    .main__products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.6rem;
        padding: 1rem;
        grid-template-rows: auto;
        width: 100%;
        max-width: 1360px;
        margin: 0 auto;
        padding: 1rem;
        box-sizing: border-box;
    }

    .buttons__cart:hover {
        background-color: var(--darkGreen);
        text-decoration: underline;
    }
}




